<!DOCTYPE html>
<html leng="en" ng-app="appCart">

<head>
    <link rel="stylesheet" href="style/app.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">



</head>
<!-- {{4+6*5}}
<input type="text" ng-model="value">Valor Input : {{name}} -->

<body  ng-init="addStart(); valuePlant=0" ng-controller="controllerApp as list">
    <div id="mayMenu">
        <nav class="nav-menu">
                <div ng-include="'view/menu.html'">
        </nav>
    </div>
    <br />
    <div ng-view>

    </div>
    
        
</body>
<script src="js/lib/angular.min.js"></script>
<!-- <script src="js/lib/angular-route.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular-route.js"></script>

<script src="app.js"></script>
<script src="js/controllerDetalle.js"></script>
<script src="js/controller.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.9/js/mdb.min.js"></script>


</html>
