
<div class="row"   >
  <div   ng-repeat="st in list.starPacage[valuePlant].data" ng-class="class" ng-if="st.value==100"  ng-init="class='start-validate_selet start-validate col-1'">★</div>
  <div   ng-repeat="st in list.starPacage[valuePlant].data" ng-class="class" ng-init="class='start-validate col-1'" ng-if="st.value==0">★</div>
  <div class="start-validate col-1"></div>
  <div   ng-repeat="st in list.starToveral[valuePlant].data" ng-class="class" ng-if="st.value==100"  ng-init="class='start-validate_selet start-validate col-1'">★</div>
  <div   ng-repeat="st in list.starToveral[valuePlant].data" ng-class="class" ng-init="class='start-validate col-1'" ng-if="st.value==0">★</div>

</div>



