.cartPlans :hover {

    background-color: azure;
  
}

.rombo {
    width: 10px; 
    height: 10px; 
    border: 2px solid #555; 
    background: #428bca;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(122deg);
}


  label{ color:grey;}

  .clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}


label:hover{color:orange;}

/* input[type = "radio"]:checked ~ label{color:orange;}  */

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
 


  .start-validate{
    color: grey;
    font-size: 200.5%;
 }
 .start-validate_selet{
  color: orange;
  font-size: 200.5%;
}

.start-validate_selet:hover~div{
  color: grey;
}

.start-validate:hover~div{
  color: orange;
  
}


.romboIni {
  width: 0;
  height: 0;
  border-bottom:8px solid grey;
  border-top:8px solid grey;
  border-left:8px solid grey;
  border-right:8px solid grey;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(122deg);
}

 .RomboOnoFour{
   width: 0;
  height: 0;
  border-top:8px solid grey;
  border-left:8px solid grey;
  border-bottom:8px solid grey;
  border-right:8px solid  #3c72b0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(122deg);
 }

 .RomboTwoFour{
  width: 0;
 height: 0;
 border-top:8px solid grey;
 border-left:8px solid grey;
 border-bottom:8px solid #3c72b0;
 border-right:8px solid  #3c72b0;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(122deg);
}

.RomboThirdFour{
  width: 0;
 height: 0;
 border-top:8px solid grey;
 border-left:8px solid #3c72b0;
 border-bottom:8px solid #3c72b0;
 border-right:8px solid  #3c72b0;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(122deg);
}

.RomboFourFour{
  width: 0;
 height: 0;
 border-top:8px solid #3c72b0;
 border-left:8px solid #3c72b0;
 border-bottom:8px solid #3c72b0;
 border-right:8px solid  #3c72b0;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(122deg);
}

#plant{
  background-color: #2485e7;
  width: 80px;
 color: cornsilk;
}

