  <!-- Search form -->
  <form class="form-inline"  ng-init="addStart(); valuePlant=0"  >
        <div class="container">
            <div class="row">
            <div class="col-12">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                    aria-label="Search">
            </div>
        </div>
        </div>
    </form>
 <br>
    <div class="container">
        
        <div class="row" ng-repeat="plan in list.plans" ng-init="valuePlant=plan.id">
            <br />
            <div class="col-sm-12" ng-if="plan.restricted" >
                <!--estrutura a repetirse -->

                <div class="card w-75 cartPlans" id="cart" >
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-1">
                                <img src="{{plan.logo_url}}" class="rounded float-left" width="60px" >
                            </div>
                            <div class="col-sm-8">
                                <h5 class="card-title"><b>{{plan.plan_name}}</b></h5>
                                <p class="card-text">{{plan.descriton}}  <label ng-if="plan.tag" id="plant">Fl Plan</label></p>
                                <div class="row">
                                        <div class="col-4" ><div ng-include="'view/rombo.html'"></div></div>
                                        <div class="col-8"> <div ng-include="'start.html'"></div></div>
                                    </div>
                                <div class="row">
                                        <div class="col-4">Overall Rating</div>
                                        <div class="col-4">Performance</div>
                                        <div class="col-4">Free Score</div>
                                    </div>
                            </div>
                            <div class="col-sm-3">
                                <a href="#/detalle"> <input type="button" class="btn btn-primary" value="ENROLL NOWS"></a>
                                 <div class="row">
                                 <div class="col"><button class="btn" ng-click="duplicar(plan.id)">duplicar</button></div>
                                </div>
                                <div class="row">
                                    <div class="col"><button class="btn" ng-click="eliminar(plan.id)">Eliminar</button></div>
                                   </div>
                            </div>
                        </div>
                        <!--end htmlp cart-->

                    </div>
                   </div>
                <br />
            </div>
        </div>
      
  